* {
    box-sizing: none;
}

*:focus {
    outline: none;
}

body {
    margin: 0px;
    background-color: #FDFFFC;
    font-family: 'Arial';
}

nav {
    width: 100%;
    background-color: #011627;
    color: #FF9F1C;
    padding: 40px 20px 40px 20px;
    font-size: 24px;
}

ul {
    margin: auto;
    width: 40%;
    list-style-type: none;
}

.main-section {
    margin-top: 40px;
}

.overview {
    text-align: center;
}

.jag-counter-container {
    display: block;
    margin-bottom: 40px;
    margin-top: 20px;
}

.jag-counter-container > .jag-counter {
    font-size: 24px;
    margin: auto;
    border: 2px solid #F71735;
    display: block;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 100px;
    line-height: 100px; 
}

#jag-quantity{
    display: block;
    margin: auto;
    width: 30%;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #011627;
    margin-bottom: 40px;
    margin-top: 20px;
}

.buttons-container{
    text-align: center;
}

.btn{
   background-color: #011627;
    color: #FDFFFC;
    margin: auto;
    border: none;
    width: 200px;
    line-height: 30px;
    border-radius: 20px;
}

.todo-container{
    text-align: center;
}




